/* RESET */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

/* ROOT */

    :root {
        --btn-color:#B1B1B1;
        --background-grey:#EAEAEA;
        --text-color:#5579AB;
    }

/* COMMON */

    body {
        font-family: "Roboto", sans-serif;
    }

    #wrapper {
        height: 100vh;
        width: 100%;
        background: linear-gradient(#009688 15%, #DADBD4 10%);
        padding: 2% 0;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        height: 100%;
    }

    .chat-img {
        border-radius: 50%;
        max-height: 100%;
    }

    button {
        border: transparent;
        color: var(--btn-color);
        font-size: 2.5rem;
        letter-spacing: 2rem;
        background-color: transparent;
    }

    main {
        height: 100%;
    }

    .card-size {
        height:calc(100% / 10);
        padding: 1rem;
    }

/* USER BOX */

    #user-box {
        width: calc(30% - 1px);
        border-right: 1px solid var(--btn-color);
    }

    /* Header */

    header {
        background-color: var(--background-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   

    /* Main */

        /* Notice box */

            .notice-box {
                display: flex;
                align-items: center;
                background-color:#8EDAFC ;
            }

            .notice-icon {
                background-color: white;
                border-radius: 50%;
                margin-right: 1.5rem;
                height: 100%;
                aspect-ratio: 1 / 1;
                position: relative;
            }


            .notice-icon i {
                font-size: 2rem;
                position: absolute;
                color: #8EDAFC;
                left:50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .notice-text a {
                color: var(--text-color);
                font-weight: bold;
                font-size: 1.2rem;
            }

        /* Search box */

            .search-box {
                height: -50%;
                padding: 0.5rem;
                background-color: var(--background-grey);
            }

            .search-input {
                height: 100%;
                width: 100%;
                display: flex;
                gap: 1rem;
                background-color: white;
                padding: 2%;
                align-items: center;
            }

            .search-input i {
                font-size: 1.5rem;
                color: var(--btn-color);
            }

            .search-input input {
                font-size: 1.5rem;
                height: 100%;
                width: 100%;
                border: transparent;
                color: var(--btn-color)
            }




/* CHAT BOX */

    #chat-box {
        width: 70%;
    }

    /* Header */

    .header-chat-box {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .last-access {
        margin-left: 1rem;
        line-height: 1.5;
    }

    .last-access p {
        color: var(--btn-color);
        font-size: 1.5rem;
    }





