/* RESET */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

/* ROOT */

    :root {
        --btn-color:#B1B1B1;
        --background-grey:#EAEAEA;
    }

/* COMMON */

    body {
        font-family: "Roboto", sans-serif;
    }

    #wrapper {
        height: 100vh;
        width: 100%;
        background: linear-gradient(#009688 15%, #DADBD4 10%);
        padding: 2% 0;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

    .chat-img {
        border-radius: 50%;
        max-height: 100%;
    }

    button {
        border: transparent;
        color: var(--btn-color);
        font-size: 2.5rem;
        letter-spacing: 2rem;
        background-color: transparent;
    }

/* USER BOX */

    #user-box {
        width: calc(30% - 1px);
        border-right: 1px solid var(--btn-color);
    }

    /* Header */

    header {
        background-color: var(--background-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;
        padding: 1rem;
    }




/* CHAT BOX */

    #chat-box {
        width: 70%;
    }

    /* Header */

    .header-chat-box {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .last-access {
        margin-left: 1rem;
        line-height: 1.5;
    }

    .last-access p {
        color: var(--btn-color);
        font-size: 1.5rem;
    }





